.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 var(--mb-5); */
  border: 1px solid var(--gradient-color-one);
}

.nav__logo{
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-font-color);
  margin-left: var(--mb-5);
  pointer-events: none; /* Just for now */
}

.nav__list{
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: var(--mb-5);
}

.nav__link, 
.nav__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
  margin-left: var(--mb-2);
}

.nav__button-plus{
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 3px solid white;
  background-color: white;
  transition: transform .15s ease;
}

.nav__button-plus svg{
  fill: var(--gradient-color-one);
}

.nav__button-plus:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.nav__button-plus:active{
  transform: scale(.8);
}