/* This file is just for test purposes */

.footer{
  position: fixed;
  display: flex;
  bottom: var(--mb-1);
  gap: var(--mb-0-25);
}

.footer p{
  font-size: var(--small-font-size);
  opacity: .4;
  margin-left: 1rem; /* Footer margin */
}
