/* upper */
@keyframes translate-left {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(0%);
  }
}

@keyframes translate-right {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0%);
  }
}


@keyframes scale-initial {
  0%{
    transform: scale(0);
  }

  50%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes floating {
  0%{
    transform: translatey(0px);
  }

  50%{
    transform: translatey(-5px);
  }

  100%{
    transform: translateY(0px);
  }
  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-in-text {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes slide-in-diagonal {
  0%{
    height: 0rem;
    opacity: 0;
  }

  100%{
    height: 30rem;
    transform: skewY(45deg);
    opacity: 1;
  }
}


#gradient-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
  --gradient-color-1: #48BFE3; 
  --gradient-color-2: #5E60CE; 
  --gradient-color-3: #72EFDD;  
  --gradient-color-4: #F72585;
  border-radius: 10px;
  z-index: -1;
}

.diagonal-box{
  position: absolute;
  background-image: url('../assets/img/backgroundGradient-1.jpg');
  left: -90rem;
  right: 0;
  animation: 2s ease 2s 1 slide-in-diagonal;
  animation-fill-mode: forwards;
  z-index: -1;

}

.section-grid{
  grid-template-columns: 0.2fr 0.5fr repeat(3, 1fr) 0.2fr;
  grid-template-rows: 1fr 1.5fr 200px 0.1fr 1fr;
  grid-template-areas: ". . . . . ."
                       ". title title resize resize ."
                       ". start start mobile layout ."
                       ". collapse collapse colors layout ."
                       ". . . . . .";
  column-gap: var(--mb-1);
  row-gap: var(--mb-1);
  height: var(--min-body-height);
}


.card{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
  transition: all .15s ease;
}

.card:hover{
  transform: scale(1.03);
}

.card--title,
.card--resize,
.card--start,
.card--mobile,
.card--collapse,
.card--colors,
.card--layout{
  position: relative;
}

.card--title{
  grid-area: title;
  animation: 2s ease 0s 1 slide-in-text;
}

.card--title h1{
  font-size: var(--title-font-size);
  line-height: 6rem;
}

.card--title h1:nth-child(1){
  top: var(--mb-1);
  color: var(--second-font-color); 
  mix-blend-mode:overlay;
}

.card--title h1:nth-child(2){
  position: absolute;
  top: var(--mb-1);
  color: var(--main-font-color);
  z-index: -2;
}

.card--title p{
  position: absolute;
  bottom: var(--mb-5);
}

.card--title p:nth-child(3){
  color: var(--second-font-color); 
  mix-blend-mode:overlay;
}

.card--title p:nth-child(4){
  color: var(--main-font-color);
  z-index: -2;
}





/* First card: Upper Right Corner */

.card--resize{
  grid-area: resize;
  background: linear-gradient(122.62deg, #48BFE3 13.21%, #7400B8 114.06%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1.5s ease-in-out 0s 1 scale-initial;
}

.card--resize img{
  width: 40%;
  object-fit: contain;
  animation: .8s ease-in-out 2s infinite floating;
}

.card--resize__content{
  gap: var(--mb-1);
}

.card--resize__content p{
  color: var(--second-font-color);
  text-decoration: underline;
}

/* Second card: Bottom Top Left Corner */

.card--start{
  grid-area: start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: #F6F6FD;
}

.card--start p{
  font-size: var(--normal-font-size);
}

.card--start h3{
  font-size: var(--medium-font-size);
  background: linear-gradient(91.31deg, #7400B8 11.71%, #F72585 48.89%, #48BFE3 83.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--start button{
  padding: 0.3rem 5rem;
  font-size: var(--medium-font-size);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--second-font-color);
  border-radius: 10px;
  border: 0;
}

.card--start button img{
  transition: all .5s ease;
}

.card--start button:hover img{
  transform: translateX(10px);
}

/* Second Card: Bottom Top right Corner */

.card--mobile{
  grid-area: mobile;
  background: linear-gradient(122.62deg, #72EFDD 20.72%, #7400B8 114.06%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--mobile img:nth-child(1){
  width: 40%;
  object-fit: contain;
}

.card--mobile img:nth-child(2){
  width: 10%;
}

.card--mobile:hover img:nth-child(2){
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


/* Third Card: Bottom Bottom Left Corner */

.card--collapse{
  grid-area: collapse;
  justify-content: center;
  align-items: center;
}

.card--collapse img{
  width: 50%;
  transition: all .5s ease;
}

.card--collapse:hover img{
 transform: scale(1.07);
}


/* Fouth Card: Bottom Bottom Right Corner */

.card--colors{
  grid-area: colors;
  background: url('../assets/img/gradientImage.png');
  background-size: 150%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--colors img{
  width: 50%;
  transition: all .5s ease;
}

.card--colors__circle{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 50px;
  width: 100%;
}

.circle{
  display: flex;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  transition: all .5s ease;
}

.circle:nth-child(1){
  background-color: #C4F0C3;
}
.circle:nth-child(2){
  background-color: #BDE9EF;
}
.circle:nth-child(3){
  background-color: #E2AFE7;
}

.card--colors:hover img{
  transform: scale(0.8);
}

.card--colors:hover span:nth-child(1){
  transform: scale(1.1);
}

.card--colors:hover span:nth-child(2){
  transform: scale(0.8);
}

.card--colors:hover span:nth-child(3){
  transform: scale(1.3);
}

/* Fifth Card: Right Bottom Corner */

.card--layout{
  grid-area: layout;
  background: linear-gradient(122.62deg, #7400B8 13.21%, #F72585 114.06%);
  background-size: 200%;
  justify-content: center;
  align-items: center;
}

.card--layout:hover{
  animation: 8s linear 0s gradient infinite forwards;
}

.card--layout img{
  width: 70%;
  transition: all .5s ease;
}

.card--layout:hover img{
  transform: scale(0.9);
}



@media screen and (min-width: 1350px){
  body{
    overflow: hidden;
  }
}


@media screen and (max-width: 1350px){

  .diagonal-box{
    left: -40rem;
  }

  .upper{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .downwards{
    grid-template-areas: "cars cars cars cars cars" 
                        "car car car car car";
  }
}

@media screen and (max-width: 920px){
  .diagonal-box{
    left: -20rem;
  }

  .upper__title{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .downwards__leftside-upper{
    grid-template-areas: "lef lef lef"
                        "rig rig rig";
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
 .upper__title h1{
  font-size: 4rem;
 } 

 .upper__card{
  padding: 1rem 1rem;
 }

 .downwards__leftside-downwards{
  grid-template-columns: 1fr;
 }
}




