/* upper */
@keyframes translate-left {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(0%);
  }
}

@keyframes translate-right {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0%);
  }
}


@keyframes scale-initial {
  0%{
    transform: scale(0);
  }

  50%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes floating {
  0%{
    transform: translatey(0px);
  }

  50%{
    transform: translatey(-5px);
  }

  100%{
    transform: translateY(0px);
  }
  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-in-text {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes slide-in-diagonal {
  0%{
    height: 0rem;
    opacity: 0;
  }

  100%{
    height: 30rem;
    transform: skewY(45deg);
    opacity: 1;
  }
}


#gradient-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
  --gradient-color-1: #48BFE3; 
  --gradient-color-2: #5E60CE; 
  --gradient-color-3: #72EFDD;  
  --gradient-color-4: #F72585;
  border-radius: 10px;
  z-index: -1;
}

.diagonal-box{
  position: absolute;
  background-image: url('../assets/img/backgroundGradient-1.jpg');
  left: -90rem;
  right: 0;
  animation: 2s ease 2s 1 slide-in-diagonal;
  animation-fill-mode: forwards;
  z-index: -1;

}

.section_home{
  height: 85vh;
}

.grid{
  display: grid;
}

.content{
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.upper{
  grid-template-columns: repeat(2, 1fr);
}

.upper__title{
  position: relative;
  margin-left: 10rem;
  margin-top: 10rem;
}

.upper__title-item-1,
.upper__title-item-2{
  font-size: 7rem;
  font-weight: 600;
  line-height: 6rem;
  animation: 2s ease 0s 1 slide-in-text;
}

.upper__title-item-1{
  position: relative;
  color: var(--second-font-color); 
  mix-blend-mode:overlay;
}

.upper__title-item-2{
  position: absolute;
  top: 0;
  color: var(--main-font-color);
  z-index: -2;
}

.upper__title-description{
  position: relative;
}

.upper__description-item-1{
  color: var(--second-font-color); 
  mix-blend-mode:overlay;
  animation: 2s ease 0s 1 slide-in-text;
}

.upper__description-item-2{
  position: absolute;
  top: 0;
  color: var(--main-font-color);
  z-index: -2;
  animation: 2s ease 0s 1 slide-in-text;
}

/* First card: Upper Right Side */

.upper__card{
  padding: 1rem 5rem;
}

.upper__card-item{
  background: linear-gradient(122.62deg, #48BFE3 13.21%, #7400B8 114.06%);
  flex-direction: column;
  animation: 1.5s ease-in-out 0s 1 scale-initial;
}

.upper__card-item-picture img{
  width: 20rem; /** This is probably the best size */
  animation: 1s ease 2s infinite floating;
}

.upper__card-item-content{
  display: flex;
  gap: 1rem;
}

.upper__card-item-content p{
  text-transform: capitalize;
  color: var(--second-font-color);
  text-decoration: underline;
}

.upper__card-item-content p:hover{
  cursor: pointer;
}



.downwards{
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "cars cars cars car car";
}

.downwards__leftside{
  grid-template-rows: repeat(2, 1fr);
  padding: 0.5rem;
  grid-area: cars;
  transform: translateX(-100%);
  animation: 1.5s ease 1s 1 translate-left forwards; /* For now but works */
}

.downwards__leftside-upper{
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "lef lef rig";
}

/* Second Card: Downwards Top Left Corner */

.downwards__leftside-upper__leftside{
  grid-area: lef;
}

.downwards__leftside-upper__leftside-card-item {
  position: relative;
  background-color: #F6F6FD; /*! Color to add */
  flex-direction: column;
  gap: 5px;
  z-index: 50; /* On top of the downwards leftside upper rightside */
  /* transform: translateX(-100%);
  animation: 2s ease 0.5s 1 translate-left forwards; */
}

.downwards__leftside-upper__leftside-card-item__toptext p{
  text-transform: capitalize;
  font-weight: 500;
}

.downwards__leftside-upper__leftside-card-item__title{
  font-size: 1.5rem;
  text-transform: capitalize;
  background: linear-gradient(91.31deg, #7400B8 11.71%, #F72585 48.89%, #48BFE3 83.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.downwards__leftside-upper__leftside-card-item__button{
  padding: 0.3rem 5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--second-font-color);
  border-radius: 10px;
  border: 0;
}

.downwards__leftside-upper__leftside-card-item__button img{
  transform: translateY(1px);
  transition: all .5s ease;
}

.downwards__leftside-upper__leftside-card-item__button:hover{
  cursor: pointer;
}

.downwards__leftside-upper__leftside-card-item__button:hover img{
  transform: translateX(10px);
}


/* Second Card: Downwards Top Right Corner */

.downwards__leftside-upper__rightside{
  padding: 0.5rem;
  grid-area: rig;
}

.downwards__leftside-upper__rightside-card-item{
  background: linear-gradient(122.62deg, #72EFDD 20.72%, #7400B8 114.06%);
  display: flex;
  flex-direction: column;
  /* transform: translateY(300%);
  animation: 2s ease 1.5s 1 translate-up forwards; */
}

.downwards__leftside-upper__rightside-card-item img:nth-child(1){
  width: 10rem;
}

.downwards__leftside-upper__rightside-card-item img:nth-child(2){
  width: 2rem;
}

.downwards__leftside-upper__rightside-card-item:hover img:nth-child(2){
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


.downwards__leftside-downwards{
  grid-template-columns: repeat(2, 1fr);
}

/* Downwards Bottom Left Corner */

.downwards__leftside-downwards__leftside{
  padding: 0.5rem;
}

.downwards__leftside-downwards__leftside-card-item{
  /* background: url('../assets/img/gradientImage.png');  */
  background-size: 100%;
  background-repeat: no-repeat;
  /* transform: translateX(-150%);
  animation: 2s ease 2s 1 translate-left forwards; */
}

.downwards__leftside-downwards__leftside-card-item img{
  width: 20rem;
}

/* Downwards Bottom Right Corner */

.downwards__leftside-downwards__rightside{
  padding: 0.5rem;
}

.downwards__leftside-downwards__rightside-card-item{
  background: url('../assets/img/gradientImage.png');
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.downwards__leftside-downwards__rightside-card-item img{
  width: 15rem;
}

.circles{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circle{
  display: flex;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  transition: all .5s ease;
}

.circle:nth-child(1){
  background-color: #C4F0C3;
}
.circle:nth-child(2){
  background-color: #BDE9EF;
}
.circle:nth-child(3){
  background-color: #E2AFE7;
}

.downwards__leftside-downwards__rightside-card-item:hover .circle:nth-child(1){
  transform: scale(1.1);
}

.downwards__leftside-downwards__rightside-card-item:hover .circle:nth-child(2){
  transform: scale(0.8);
}

.downwards__leftside-downwards__rightside-card-item:hover .circle:nth-child(3){
  transform: scale(1.3);
}

/* Downwards Bottom Right Right Corner */

.downwards__rightside-card{
  padding: 0.5rem;
  grid-area: car;
  transform: translateX(100%);
  animation: 2s ease 1.5s 1 translate-right forwards;
}

.downwards__rightside-card-item{
  background: linear-gradient(122.62deg, #7400B8 13.21%, #F72585 114.06%);
  background-size: 200%;
}

.downwards__rightside-card-item:hover{
  animation: 8s linear 0s gradient infinite forwards;
}

.downwards__rightside-card-item img{
  width: 20rem;
}

@media screen and (min-width: 1350px){
  body{
    overflow: hidden;
  }
}


@media screen and (max-width: 1350px){

  .diagonal-box{
    left: -40rem;
  }

  .upper{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .downwards{
    grid-template-areas: "cars cars cars cars cars" 
                        "car car car car car";
  }
}

@media screen and (max-width: 920px){
  .diagonal-box{
    left: -20rem;
  }

  .upper__title{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .downwards__leftside-upper{
    grid-template-areas: "lef lef lef"
                        "rig rig rig";
  }
}






