

.notes-section{
  margin-top: var(--mb-2);
  min-height: var(--min-body-height);
  flex-direction: column;
  /* align-items: center; */
  gap: var(--mb-2);
}


/* Search Bar design */

.search-bar{
  position: fixed;
  width: 100%;  
  height: 10%;
  gap: var(--mb-1);
  justify-content: center;
  align-items: center;
  z-index: var(--z-fixed);
}

.search-bar input{
  background-color: var(--palid-white);
  border-radius: 20px;
  color: var(--main-font-color);
  padding: 8px var(--mb-2);
  border: 1px solid rgb(194, 194, 194);
}

.search-bar input:focus{
  outline: none;
}

.search-bar__icon{
  display: inline-block;
  background-color: var(--palid-white);
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}

.search-bar__icon:hover{
  cursor: pointer;
}

.search-bar img{
  vertical-align: middle;
  width: 40px;
  padding: 10px;
}


/* Note container */
.notes-section__container{
  /* height: 100%; */
  padding: 0 var(--mb-5);
  margin-top: 6rem;
  margin-bottom: var(--mb-5);
}

/* Notes */

.note{
  /* display: inline-block; */
  background-color: var(--palid-white);
  border-radius: 20px;
  padding: var(--mb-2);
  margin-bottom: var(--mb-1);
  color: var(--main-font-color);
  width: 337px; /* Perfect size in pc */
}

.note__upper{
  align-items: center;
  gap: var(--mb-1);
  margin-bottom: var(--mb-0-25);
}

.note__upper span{
  opacity: .5;
}

.note-tags{
  gap: 5px;
}

.note__bottom{
  justify-content: space-between;
  margin-top: var(--mb-1);
}

.note__bottom img{
  opacity: .4;
}

/* These colors are not final */

.note-tag:nth-child(1){
  color:rgb(255, 91, 91);
}
.note-tag:nth-child(2){
  color:rgb(250, 219, 79);
}
.note-tag:nth-child(3){
  color:rgb(248, 98, 228);
}
.note-tag:nth-child(4){
  color:rgb(89, 213, 251);
}
.note-tag:nth-child(5){
  color:rgb(95, 255, 127);
}
.note-tag:nth-child(6){
  color:rgb(255, 172, 84);
}


/* Media queries */

@media screen and (max-width: 1023px){
  .notes-section__container{
    padding: 0 var(--mb-3);
  }

  .note{
    margin-bottom: 10px;
    width: 170px;
  }

  .note__upper h2{
    font-size: 20px;
  }

  .note__upper span{
    font-size: var(--small-font-size);
  }

  .note p{
    font-size: var(--small-font-size);
  }

  .note-tag{
    font-size: var(--small-font-size);
  }
}