/* Background */
.background{
  position: absolute;
  z-index: -1;
}

.background-top, .background-bottom, .background-bottom-solid{
  position: fixed;
  animation: scale 5s ease infinite;
}

.background-top{
  right: 0;
  top: 0;
  fill: var(--main-general-color);
}

.background-bottom, .background-bottom-solid{
  bottom: 0;
  left: 0;
  fill: var(--gradient-color-one);
}

.background-bottom-solid{
  fill: var(--main-general-color);
}


/* Note creator */

.note__creator{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(2px);
  z-index: 1000;
  transition: all .5s ease-in;
}

.note__form{
  background-color: white;
  padding: var(--mb-1) var(--mb-3);
  border-radius: 15px;
  min-width: 400px;
  max-width: 500px;
}

.input-check-title,
.input-check-description,
.input-check-tags{
  line-height: 2rem;
  font-size: 0.8rem;
  color: red;
}

.note__content{
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.2fr;
  row-gap: var(--mb-0-25);
}

.note__content-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mb-0-5) 0;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.note__content-title img{
  transition: all .15s ease;
}

.note__content-title img:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.note__content-title-item{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--second-font-color);
}

.note__form-row{
  display: flex;
  flex-direction: column;
  margin-top: var(--mb-0-75);
}

.note__form-row label{
  color: var(--second-font-color);
  margin-bottom: var(--mb-0-75);
}

.note__form-row textarea{
  height: 150px;
  resize: none;
}

.form__input{
  padding: var(--mb-0-75);
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid #999;
  color: #909090;
  font-weight: 400;
  font-size: 0.9rem;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: var(--mb-0-75);
  align-items: center;
  margin-top: var(--mb-1);
  height: fit-content;
}

.tags__empty{
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(209, 209, 209);
}

.tag{
  display: flex;
  flex-direction: row;
  gap: var(--mb-0-5);
  font-size: 0.9rem;
  padding: var(--mb-0-75);
  border-radius: 10px;
}

.tag_close{
  display: flex;
  justify-content: end;
}

.tag_close-item{
  width: 15px;
}

.tag_close-item:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.tag:nth-child(2){
  background-color:rgb(255, 224, 224);
}
.tag:nth-child(3){
  background-color:rgb(254, 248, 220);
}
.tag:nth-child(4){
  background-color:rgb(255, 224, 251);
}
.tag:nth-child(5){
  background-color:rgb(224, 248, 255);
}
.tag:nth-child(6){
  background-color:rgb(224, 255, 230);
}
.tag:nth-child(7){
  background-color:rgb(255, 240, 224);
}



.form__input:focus{
  outline: none;
}

.note__creator-btn{
  display: flex;
  margin-top: var(--mb-1);
  padding: var(--mb-0-75) 0;
}

.note__creator-btn-item{
  width: 100%;
  max-height: 50px;
  border-radius: 4px;
  border: 0;
  padding: var(--mb-1);
  background-color: var(--main-general-color);
  color: var(--main-font-color);
  transition: all .15s ease;
}

.note__creator-btn-item:hover{
  background-color: white;
  color: var(--second-font-color);
  border: 1px solid var(--second-font-color);
  cursor: pointer;
}

.note__creator-btn-item:active{
  background-color: var(--main-general-color);
  color: var(--main-font-color);
  border: 0;
}

.colors{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--mb-1-5);
  height: 30px;
}

.color{
  width: 30px;
  height: 100%;
  border-radius: 30px;
  border: 0;
  transition: all .3s;
}

.color:hover{
  cursor: pointer;
  border: 1px solid rgb(132, 132, 132);
}

.color-clicked{
  border: 1px solid rgb(132, 132, 132);
}

.color:nth-child(1){
  background-color: #F5F5F5;
}

.color:nth-child(2){
  background-color: #E2AFE7;
}

.color:nth-child(3){
  background-color: #EBECC2;
}

.color:nth-child(4){
  background-color: #BDE9EF;
}

.color:nth-child(5){
  background-color: #C4F0C3;
}

.color:nth-child(6){
  background-color: #C3C4D7;
}


/* hidden class */
.hidden{
  display: none;
}


/* Notes section */

.notes__container{
  /* columns: 4 400px;
  column-gap: var(--mb-1); */
  display: flex;
  justify-content: center;
  margin: var(--mb-3) var(--mb-5);
  padding-top: 9rem;
  height: 100%;
  overflow-x: hidden;
}

.note{
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-bottom: var(--mb-1);
  max-width: 100%;
  padding: var(--mb-2) var(--mb-3);
}

.note__header{
  display: flex;
  align-items: baseline;
  gap: var(--mb-0-5);
}

.note__header p:nth-child(1){
  font-size: 2rem;
  font-weight: 600;
  color: var(--second-font-color);
}

.note__header p:nth-child(2){
  color: var(--gray-font-color);
}

.note__description{
  margin-top: var(--mb-0-75);
  color: var(--second-font-color);
  max-width: 400px;
}

.note__footer{
  margin-top: var(--mb-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__options{
  display: flex;
  align-items: center;
}

.note__options-dots:hover{
  cursor: pointer;
}

.note__tags{
  display: flex;
  gap: var(--mb-0-5);
  align-items: center;
  margin-right: var(--mb-2);
}

.note__tag:nth-child(1){
  color:rgb(255, 91, 91);
}
.note__tag:nth-child(2){
  color:rgb(250, 219, 79);
}
.note__tag:nth-child(3){
  color:rgb(248, 98, 228);
}
.note__tag:nth-child(4){
  color:rgb(89, 213, 251);
}
.note__tag:nth-child(5){
  color:rgb(95, 255, 127);
}
.note__tag:nth-child(6){
  color:rgb(255, 172, 84);
}


.note__edit{
  position: absolute;
  background-color: white;
  left: 60%;
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 1s ease;
}

.note__edit p{
  padding: 0.4rem;
}

.note__edit p:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}