@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root{
  
  --header-height: 6rem;

  --main-font-color: #1D1D1F;
  --second-font-color: rgb(255, 255, 255);
  --gray-font-color: #7D7D7D;

  --main-general-color: #dedede;
  --gradient-color-one: #ffffff;

  /* --main-general-color: #828181;
  --gradient-color-one: #bdbdbd; */

  /* --main-general-color: #EB6868;
  --gradient-color-one: #EC8B8B; */

  --background-color-cards: #FBFBFD;

  --normal-font-size: 0.2rem;
  --big-font-size: 2rem;
  
  --body-font: 'Montserrat', Arial;
  --second-font: 'Akira Super', Arial;
  --third-font: 'Akira Expanded';

  --default-border-radius: 10px;

  --min-body-height: 100vh;


  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-5: 5rem;
  --mb-7: 7rem;

  --z-fixed: 100;
  --z-tooltop: 10; 
  --z-top: 1000;
  --z-under: 1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial;
}

@keyframes scale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  70%{
    transform: scale(1.8);
  }
  80%{
    transform: scale(1.6);
  }
  100%{
    transform: scale(1);
  }
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

body{
  position: relative;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  min-height: var(--min-body-height);
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.capitalize{
  text-transform: capitalize;
}


/* Proper of this */

.card-styles{ /* This applies to almost every card if not all of them */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
}


/* Global useful animation */

.scale-up{
  transform: scale(1);
  transition: all .5s;
}

.scale-up:hover{
  transform: scale(1.03);
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}