/* upper */
@keyframes translate-left {
  0%{
    transform: translateX(-150%);
  }

  100%{
    transform: translateX(0%);
  }
}

@keyframes translate-right {
  0%{
    transform: translateX(150%);
  }

  100%{
    transform: translateX(0%);
  }
}

@keyframes translate-up {
  0%{
    transform: translateY(300%);
  }

  100%{
    transform: translateY(0%);
  }

}


@keyframes scale-initial {
  0%{
    transform: scale(0);
  }

  50%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes floating {
  0%{
    transform: translatey(0px);
  }

  50%{
    transform: translatey(-5px);
  }

  100%{
    transform: translateY(0px);
  }

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-in-text {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes slide-in-diagonal {
  0%{
    height: 0rem;
    opacity: 0;
  }

  100%{
    height: 30rem;
    transform: skewY(45deg);
    opacity: 1;
  }
}


#gradient-canvas-home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
  --gradient-color-1: #48BFE3;
  --gradient-color-2: #5E60CE;
  --gradient-color-3: #72EFDD;
  --gradient-color-4: #F72585;
  border-radius: 10px;
  z-index: -1;
}

.diagonal-box{
  position: fixed;
  background-image: url('../assets/img/backgroundGradient-1.jpg');
  left: -90rem;
  right: 0;
  animation: 2s ease 2s 1 slide-in-diagonal;
  animation-fill-mode: forwards;
  z-index: -1;

}

.section-grid{
  grid-template-columns: 0.2fr 0.5fr 0.8fr 0.5fr repeat(2, 1fr) 0.2fr;
  grid-template-rows: 1fr 1.5fr 200px 0.1fr 1fr;
  grid-template-areas: ". . . . . . ."
                       ". title title title resize resize ."
                       ". start start start mobile layout ."
                       ". collapse collapse colors colors layout ."
                       ". . . . . . .";
  column-gap: var(--mb-1);
  row-gap: var(--mb-1);
  height: 100%;
}


.card{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: var(--mb-2);
  transition: all .15s ease;
}

/* This does not work for some other reason */
.card:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.card--title,
.card--resize,
.card--start,
.card--mobile,
.card--collapse,
.card--colors,
.card--layout{
  position: relative;
}

.card--title{
  grid-area: title;
  padding: var(--mb-1);
  animation: 2s ease 0s 1 slide-in-text;
}

.card--title h1{
  font-size: var(--title-font-size);
  line-height: 6rem;
}

.card--title h1:nth-child(1){
  top: var(--mb-1);
  color: var(--second-font-color);
  mix-blend-mode:overlay;
}

.card--title h1:nth-child(2){
  position: absolute;
  top: var(--mb-1);
  color: var(--main-font-color);
  z-index: -2;
}

.card--title p{
  position: absolute;
  top: var(--mb-7);
}

.card--title p:nth-child(3){
  color: var(--second-font-color);
  mix-blend-mode:overlay;
}

.card--title p:nth-child(4){
  color: var(--main-font-color);
  z-index: -2;
}


/* First card: Upper Right Corner */

.card--resize{
  grid-area: resize;
  background: linear-gradient(122.62deg, #48BFE3 13.21%, #7400B8 114.06%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1.5s ease-in-out 0s 1 scale-initial;
}

.card--resize img{
  width: 40%;
  object-fit: contain;
  animation: .8s ease-in-out 2s infinite floating;
}

.card--resize__content{
  gap: var(--mb-1);
}

.card--resize__content p{
  color: var(--second-font-color);
  text-decoration: underline;
}


/* Second card: Bottom Top Left Corner */

.card--start{
  grid-area: start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: capitalize;
  background-color: #F6F6FD;
  transform: translateX(-150%);
  animation: 1.5s ease .5s 1 translate-left forwards;
}

.card--start p{
  font-size: var(--normal-font-size);
  transition: all .15s ease;
}

.card--start:hover p{
  transform: scale(0.8);
}

.card--start h3{
  font-size: var(--medium-font-size);
  background: linear-gradient(91.31deg, #7400B8 11.71%, #F72585 48.89%, #48BFE3 83.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--start button{
  padding: 0.3rem 5rem;
  font-size: var(--medium-font-size);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--second-font-color);
  border-radius: 10px;
  border: 0;
}

.card--start button img{
  transition: all .5s ease;
}

.card--start button:hover img{
  transform: translateX(10px);
}


/* Second Card: Bottom Top right Corner */

.card--mobile{
  grid-area: mobile;
  background: linear-gradient(122.62deg, #72EFDD 20.72%, #7400B8 114.06%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(300%);
  animation: 1.5s ease .6s 1 translate-up forwards;
}

.card--mobile img:nth-child(1){
  width: 40%;
  object-fit: contain;
}

.card--mobile img:nth-child(2){
  width: 10%;
}

.card--mobile:hover img:nth-child(2){
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


/* Third Card: Bottom Bottom Left Corner */

.card--collapse{
  grid-area: collapse;
  justify-content: center;
  align-items: center;
  transform: translateX(-150%);
  animation: 1.5s ease .7s 1 translate-left forwards;
}

.card--collapse img{
  width: 50%;
  transition: all .5s ease;
}

.card--collapse:hover img{
 transform: scale(1.07);
}


/* Fouth Card: Bottom Bottom Right Corner */

.card--colors{
  grid-area: colors;
  background: url('../assets/img/gradientImage.png');
  background-size: 150%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(300%);
  animation: 1.5s ease .9s 1 translate-up forwards;
}

.card--colors img{
  width: 30%;
  transition: all .5s ease;
}

.card--colors__circle{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 50px;
  width: 100%;
}

.circle{
  display: flex;
  height: 100%;
  width: 50px;
  border-radius: 50%;
  transition: all .5s ease;
}

.circle:nth-child(1){
  background-color: #C4F0C3;
}
.circle:nth-child(2){
  background-color: #BDE9EF;
}
.circle:nth-child(3){
  background-color: #E2AFE7;
}

.card--colors:hover img{
  transform: scale(0.8);
}

.card--colors:hover span:nth-child(1){
  transform: scale(1.1);
}

.card--colors:hover span:nth-child(2){
  transform: scale(0.8);
}

.card--colors:hover span:nth-child(3){
  transform: scale(1.3);
}

/* Fifth Card: Right Bottom Corner */

.card--layout{
  grid-area: layout;
  background: linear-gradient(122.62deg, #7400B8 13.21%, #F72585 114.06%);
  background-size: 200%;
  justify-content: center;
  align-items: center;
  transform: translateX(150%);
  animation: 1.5s ease .9s 1 translate-right forwards;
}

/* This generates a bug for some reason */
/* .card--layout:hover{
  animation: 8s linear 0s gradient infinite forwards;
} */

.card--layout img{
  width: 70%;
  transition: all .5s ease;
}

.card--layout:hover img{
  transform: scale(0.9);
}

/*

Reference:

For Mobile devices: 320px-480px.
For Tablets or iPad: 480px - 768px.
For Laptop or small-size screen: 768px -1024px.
For Desktop or large-size screen: 1024px -1200px.
For Extra-large size device: 1200px and more

* This is how you do it manually

*/

@media screen and (min-width: 1024px) and (max-width: 1360px) {

  .diagonal-box{
    left: -65rem;
  }

  .card--title h1{
    font-size: var(--bigger-font-size);
  }

  .card--title p{
    top: 6rem;
  }

  .card--resize img{
    width: 60%;
  }

  .card--start h3{
    font-size: calc(var(--normal-font-size)*1.2);
  }

  .card--mobile img:nth-child(1){
    width: 70%;
  }

  .card--mobile img:nth-child(2){
    width: 20%;
  }

  .card--collapse img{
    width: 80%;
  }

  .card--colors img{
    width: 60%;
  }

  .card--layout img{
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .diagonal-box{
    left: -55rem;
  }

  .card--title h1{
    font-size: var(--bigger-font-size);
  }

  .card--title p{
    top: 6rem; /* Needed */
  }

  .card--resize img{
    width: 80%;
  }

  .card--mobile img:nth-child(1){
    width: 70%;
  }

  .card--start h3{
    font-size: var(--normal-font-size);
  }

  .card--colors img{
    width: 50%;
  }

  .card--layout img{
    width: 40%;
  }

  .section-grid{
    padding: var(--mb-7) var(--mb-1);
    margin-bottom: var(--mb-5);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.5fr  0.4fr repeat(4, 1fr) 0.1fr;
    grid-template-areas: ". ."
                         "title title"
                         "start resize"
                         "start mobile"
                         "collapse collapse"
                         "colors colors"
                         "layout layout"
                         ". .";
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .diagonal-box{
    left: -65rem;
  }

  .card--title h1{
    font-size: var(--bigger-font-size);
  }

  .card--title p{
    top: 6rem; /* Needed */
    font-size: var(--small-font-size);
  }

  .card--start h3{
    font-size: 1.3rem;
  }

  .card--resize img{
    min-width: 200px;
    width: 90%;
  }

  .card--mobile img:nth-child(1){
    min-width: 100px;
    width: 90%;
  }

  .card--mobile img:nth-child(2){
    min-width: 30px;
    width: 20%;
  }

  .card--collapse img{
    min-width: 200px;
    width: 90%;
  }

  .card--colors img{
    min-width: 200px;
    width: 60%;
  }

  .card--layout img{
    width: 50%;
  }

  .section-grid{
    padding: var(--mb-7) var(--mb-1);
    margin-bottom: var(--mb-5);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.6fr  0.4fr repeat(4, 1fr) 0.1fr;
    grid-template-areas: ". ."
                         "title title"
                         "start start"
                         "resize mobile"
                         "collapse mobile"
                         "colors colors"
                         "layout layout"
                         ". .";
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .diagonal-box{
    left: -20rem;
  }



  .section-grid{
    padding: 0 var(--mb-1);
    margin-bottom: var(--mb-1);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.6fr  0.4fr repeat(5, 1fr) 0.5fr;
    grid-template-areas: "."
                         "title"
                         "start"
                         "resize"
                         "mobile"
                         "collapse"
                         "colors"
                         "layout"
                         ".";
  }

  .card--title{
    display: flex;
    justify-content: center;
  }

  .card--title h1{
    font-size: var(--big-font-size);
  }

  .card--title p{
    top: var(--mb-5);
    font-size: var(--small-font-size);
  }

  .card--start h3{
    font-size: var(--normal-font-size);
  }

  .card--resize img{
    width: 80%;
  }

  .card--mobile img:nth-child(1){
    width: 50%;
    transition: all .15s ease;
  }

  .card--mobile:hover img:nth-child(1){
    transform: scale(0.7);
  }

  .card--mobile img:nth-child(2){
    width: 15%;
  }

  .card--collapse img{
    width: 80%;
  }

  .card--colors img{
    width: 60%;
  }

}


